body, .body, BODY {
  background: $body-bg-color;
  color: $body-color;
  font-family: $primary-font;
  height: 100vh;
  box-shadow: 0px 0 0 0.9em $main-light-blue;
  border-radius: .8em;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal
}

nav {
  display: flex;
}

select {
  background-color: $form-input-bg;
  option {
    background-color: $form-input-bg;
  }
  border: none;
}

@include respond-to(lg-screen) {
  #variableForm {
    display: none;
  }
  #cannot-preview {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    .cannot-preview-content {
      text-align: center;
      img {
        width: 10%;
      }
      span {
        display: block;
      }
    }
  }
}

@include respond-to(up-lg-screen) {
  #variableForm {
    display: block;
  }
  #cannot-preview {
    display: none;
  }
}

.step {
  @include center-all;
  flex-direction: column;
  padding: 30px 10px;
  width: 100%;
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    @include center-all;
    border: 1px solid;
    border-color: $tab-color;
    color: $tab-color;
    &:before {
      content: '';
      width: calc(50% - 25px);
      height: 1px;
      right: calc(50% + 25px);
      border: 1px solid;
      border-color: $tab-color;
      position: absolute;
    }
    &:after {
      content: '';
      width: calc(50% - 25px);
      height: 1px;
      left: calc(50% + 25px);
      border: 1px solid;
      border-color: $tab-color;
      position: absolute;
    }
  }
  .details-area {
    text-align: center;
    line-height: 15px;
    @include center-all;
    color: $tab-color;
    margin-top: 10px;
  }
  &.active {
    .icon, .details-area {
      border-color: $tab-act-color;
      color: $tab-act-color;
      &:before, &:after {
        border-color: $tab-act-color;
      }
    }
  }
  &:first-child {
    .icon {
      &:before {
        display: none;
      }
    }
  }
  &:last-child {
    .icon {
      &:after {
        display: none;
      }
    }
  }
}

.editor-area {
  padding: 15px;
  border: 1px solid;
  border-color: $tab-color;
  border-radius: 10px;
  background: $editor-area;
  height: 66vh;
  max-height: 66vh;
  overflow: auto;
  &.last-panel {
    height: 70vh;
  }
}

.steps-area {
  height: 66vh;
  display: flex;
  align-items: center;
  color: $information-color;
  .infor-content {
    ul {
      padding-left: 0;
      li {
        list-style: none;
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;
        i, q {
          margin-right: 15px;
          color: lighten($information-color, 15);
          font-style: italic;
        }
        strong {
          color: lighten($information-color, 15);
          &.cus-title-one {
            color: $up-files;
          }
          &.cus-title-two {
            color: $next;
          }
          &.cus-title-three {
            color: $copy-scss-bg;
          }
        }
      }
    }
  }
}

.photoshop {
  background: $photoshop-bg;
  color: $photoshop-color;
  border-color: $photoshop-color;
}

.illustrator {
  background: $illustrator-bg;
  color: $illustrator-color;
  border-color: $illustrator-bg;
}

.photoshop, .illustrator {
  padding: 5px 9px 8px;
  border-radius: 4px;
  border: 1px solid;
  &.mini {
    padding: 4px 6px 4px;
    font-size: 12px;
  }
}

.multy-files {
  width: 210px;
  line-height: 33px;
}

.tab {
  display: none;
}

.code-block {
  font-family: $secondary-font;
  display: flex;
  margin-bottom: 2px;

  select {
    margin-right: 5px;
    height: 29px;
    color: $form-select-color;
  }
  .dropdown-toggle {
    background: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .dropdown-menu {
    border: none;
  }
  input {
    border: none;
    border-radius: 3px;
    height: 29px;
    background: $form-input-bg;
    padding: 0 5px 0 5px;
    color: $form-input-color;
  }
  span {
    &:nth-child(2) {
      color: $form-input-color;
    }
  }
}

.copy-scss {
  background-color: $copy-scss-bg;
  border-color: $copy-scss-bg;
  color: $copy-scss-color;
  &:hover {
    background-color: darken($copy-scss-bg, 5);
    border-color: darken($copy-scss-bg, 5);
    color: $copy-scss-color;
  }
}

.success-generated {
  color: $gen-sucess;

}

.gradient-section {
  display: inline-flex;
  .gradient-select {
    display: flex;
    height: 30px;
    align-items: center;
    margin-right: 20px;
    input {
      margin-right: 10px;
    }
  }
  .gradient-generator {
    width: 300px;
    margin-left: 5px;
    //display: inline-block;
  }
}

.copy-scss-area {
  display: inline-block;
  position: relative;
  .text-copied {
    display: flex;
    position: absolute;
    top: -50px;
    left: -12px;
    width: 130px;
    height: 38px;
    background: $copied-bg;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
}

.loading {
  background: transparentize($loading-bg, 0.2);
  //background: green;
  height: 66vh;
  width: calc(100% - 15px);
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  .loadingare {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .loading-icons {
      text-align: center;
      color: #fff;
      font-size: 14px;
      span {
        display: block;
        margin: 0 auto;
      }

      span[class*="l-"] {
        display: inline-block;
        margin: 12px 2px;
        -webkit-animation: loader 4s infinite;
        -webkit-animation-timing-function: cubic-bezier(0, 1.92, 1, -0.48);
        -webkit-animation-fill-mode: both;
        -moz-animation: loader 4s infinite;
        -moz-animation-timing-function: cubic-bezier(0, 1.92, 1, -0.48);
        -moz-animation-fill-mode: both;
        -ms-animation: loader 4s infinite;
        -ms-animation-timing-function: cubic-bezier(0, 1.92, 1, -0.48);
        -ms-animation-fill-mode: both;
        animation: loader 4s infinite;
        animation-timing-function: cubic-bezier(0, 1.92, 1, -0.48);
        animation-fill-mode: both;
      }

      span.l-1 {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -ms-animation-delay: 1s;
        -moz-animation-delay: 1s;
      }
      span.l-2 {
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        -ms-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
      }
      span.l-3 {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
        -ms-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
      }
      span.l-4 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        -ms-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
      }
      span.l-5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
        -ms-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
      }
      span.l-6 {
        -webkit-animation-delay: 0;
        animation-delay: 0;
        -ms-animation-delay: 0;
        -moz-animation-delay: 0;
      }

    }
  }
}