body, .body, BODY {
  background: $body-bg-color;
  color: $body-color;
  font-family: $primary-font;
  height: 100vh;
  box-shadow: 0px 0 0 0.9em $main-light-blue;
  border-radius: .8em;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal
}

nav {
  display: flex;
}

select {
  background-color: $form-input-bg;
  option{
    background-color: $form-input-bg;
  }
  border: none;
}

.step {
  @include center-all;
  flex-direction: column;
  padding: 30px 10px;
  width: 100%;
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    @include center-all;
    border: 1px solid;
    border-color: $tab-color;
    color: $tab-color;
    &:before {
      content: '';
      width: calc(50% - 25px);
      height: 1px;
      right: calc(50% + 25px);
      border: 1px solid;
      border-color: $tab-color;
      position: absolute;
    }
    &:after {
      content: '';
      width: calc(50% - 25px);
      height: 1px;
      left: calc(50% + 25px);
      border: 1px solid;
      border-color: $tab-color;
      position: absolute;
    }
  }
  .details-area {
    text-align: center;
    line-height: 15px;
    @include center-all;
    color: $tab-color;
    margin-top: 10px;
  }
  &.active {
    .icon, .details-area {
      border-color: $tab-act-color;
      color: $tab-act-color;
      &:before, &:after {
        border-color: $tab-act-color;
      }
    }
  }
  &:first-child {
    .icon {
      &:before {
        display: none;
      }
    }
  }
  &:last-child {
    .icon {
      &:after {
        display: none;
      }
    }
  }
}

.editor-area {
  padding: 15px;
  border: 1px solid;
  border-color: $tab-color;
  border-radius: 10px;
  background: $editor-area;
  height: 66vh;
  max-height: 66vh;
  overflow: auto;
  &.last-panel {
    height: 70vh;
  }
}

.steps-area {
  height: 66vh;
  display: flex;
  align-items: center;
  color: $information-color;
  .infor-content {
    ul {
      padding-left: 20px;
    }
  }
}

.photoshop {
  background: $photoshop-bg;
  color: $photoshop-color;
  border-color: $photoshop-color;
}

.illustrator {
  background: $illustrator-bg;
  color: $illustrator-color;
  border-color: $illustrator-bg;
}

.photoshop, .illustrator {
  padding: 5px 9px 8px;
  border-radius: 4px;
  border: 1px solid;
}

.multy-files {
  width: 210px;
  line-height: 30px;
}

.tab {
  display: none;
}

.code-block {
  font-family: $secondary-font;
  display: flex;
  margin-bottom: 2px;

  select {
    margin-right: 5px;
    height: 29px;
    color: $form-select-color;
  }
  .dropdown-toggle {
    background: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .dropdown-menu {
    border: none;
  }
  input {
    border: none;
    border-radius: 3px;
    height: 29px;
    background: $form-input-bg;
    padding: 0 5px 0 5px;
    color: $form-input-color;
  }
}

.copy-scss {
  background-color: $copy-scss-bg;
  border-color: $copy-scss-bg;
  color: $copy-scss-color;
  &:hover {
    background-color: darken($copy-scss-bg, 5);
    border-color: darken($copy-scss-bg, 5);
    color: $copy-scss-color;
  }
}

.gradient-section {
  display: inline-flex;
  .gradient-select{
    display: flex;
    height: 30px;
    align-items: center;
    margin-right: 20px;
    input{
      margin-right: 10px;
    }
  }
  .gradient-generator {
    width: 300px;
    margin-right: 5px;
    //display: inline-block;
  }
}