@font-face {
  font-family: $primary-font;
  src: $primary-font-url;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $secondary-font;
  src: $secondary-font-url;
  font-weight: normal;
  font-style: normal;
}