//color
$black: #000000;
$white: #ffffff;
$primary-black: #333;
$primary-gray: #dddddd;
$secondary-gray: #666d89;
$primary-red: #f35b3f;
$primary-dark-blue: #001d26;
$primary-light-blue: #00c8ff;
$primary-dark-orange: #261300;
$primary-light-orange: #ff7c00;
$primary-yellow: #fff38f;
$primary-green: #28a745;
$secondary-green: #17a2b8;

$main-light-blue: #3f81f3;
$main-dark-blue: #001436;

$level-3-dark-blue: #3f4d69;

//not change
$facebook:#3b579d;
$twitter:#1da1f3;
$telegram:#20a0e1;
$video:#ff0000;

//fonts
$primary-font: Lato-Regular, sans-serif;
$primary-font-url: url('../fonts/Lato-Regular.ttf') format("truetype");
$secondary-font: Monaco, sans-serif;
$secondary-font-url: url('../fonts/Monaco.ttf') format("truetype");

//for media screens break points
$break-xs: 320px;
$break-sm: 480px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

//second level
$body-bg-color: $main-dark-blue;
$body-color: $white;

$tab-color: $primary-gray;
$tab-act-color: $primary-red;

$editor-area: $level-3-dark-blue;

$photoshop-bg: $primary-dark-blue;
$photoshop-color: $primary-light-blue;
$illustrator-bg: $primary-dark-orange;
$illustrator-color: $primary-light-orange;

$information-color: $secondary-gray;
$copy-scss-color: $white;
$copy-scss-bg: $primary-red;

$form-input-bg: transparentize($white, 0.9);
$form-input-color: $primary-yellow;
$form-select-color: $white;

$up-files: $secondary-green;
$next: $primary-green;
$gen-sucess: $main-light-blue;

$copied-bg: $primary-black;

$loading-bg: $main-dark-blue;

$loading-dots: $white;