.social-media-item {
  &.facebook {
    border-color: $facebook;
    .social-icon {
      background: $facebook;
      &:before {
        content: "\f09a";
      }
    }
  }
  &.twitter {
    border-color: $twitter;
    .social-icon {
      background: $twitter;
      &:before {
        content: "\f099";
      }
    }
  }
  &.telegram {
    border-color: $telegram;
    .social-icon {
      background: $telegram;
      &:before {
        content: "\f2c6";
      }
    }
  }
  &.video {
    border-color: $video;
    .social-icon {
      background: $video;
      &:before {
        content: "\f03d";
      }
    }
  }
}
